$size: 250px;
$size-xs: 20px;
$size-l: 300px;
$size-ns: 35px;
$color-desarrollo: rgb(0,0,0);
$subrayado: underline;
$color-ropa: #f5f5f5;
$centrado: center;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cuerpo{
    background: linear-gradient($color-ropa,rgb(127, 127, 127), rgb(65, 59, 47),$color-desarrollo);
}
.titulo{
    color: $color-desarrollo;
    text-align: $centrado;
    font-size: 50px;
    margin: $size-ns;
    font-family: "paraTitulos";
}
.hamburguesa{
    font-family: "losItems";
    .barraTexto{
        color: $color-desarrollo;
    }
    .buscador{
        color: $color-desarrollo;
    }
}
.principal{
    padding: $size-xs;
    .subTit{
        color: #06fd;
        text-align: $centrado;
        text-transform: uppercase;
        font-family: "miFuente";
        font-size: 50px;
        margin: $size-ns;
        animation-name: animacion;
        animation-iteration-count: initial;
        animation-duration: 3s;
    }
}
.padre__secundario{
    display: grid;
    grid-template-columns: repeat(3, $size-l);
    grid-template-rows: 260px 45px;
    justify-content: $centrado;
    .imagen{
        border:solid 4px $color-desarrollo;
        height: $size;
        width: $size;
        border-radius: 7px;
        opacity: 0.9;
        &:hover{
            transform: scale(1.1);
            opacity: 1;
            border-radius: 17px;
        }
    }
    .miniTit{
        font-family: "sobreRopa";
        font-size: $size-xs;
        text-align: $centrado;
        text-decoration: $subrayado;
        margin-top: $size-xs;
        margin-bottom: $size-xs;
        color: $color-ropa;
        &:hover{
            font-size: 25px;
        }
    }
}
.semiTit{
    font-family: "otraFuente";
    font-size: $size-ns;
    text-decoration: $subrayado;
    text-align: $centrado;
    color: $color-ropa;
}
.item{
    margin: $size-xs;
    color: $color-ropa;
    font-family: "losItems";
}


footer {
    color: #999;
    text-transform:capitalize;
    margin-top: $size-ns;
    margin-bottom: $size-ns;
    display: grid;
    grid-template-columns: auto;
    padding: $size-xs;
    i{
        font-size: 15px;
        margin: 5px;
    }
}
@font-face{
    font-family: "paraTitulos";
    src: url("../fonts/titulos.otf");
}
@font-face{
    font-family: "miFuente";
    src: url("../fonts/letra1.ttf");
}
@font-face{
    font-family: "otraFuente";
    src: url("../fonts/Fragmentcore.otf");
}
@font-face{
    font-family: "sobreRopa";
    src: url("../fonts/subrayados.ttf");
}
@font-face{
    font-family: "losItems";
    src: url("../fonts/items.otf");
}
@media screen and (max-width: 900px){
    .uno{
        grid-area: img_uno;
    }
    .dos{
        grid-area: img_dos;
    }
    .tres{
        grid-area: img_tres;
    }
    .one{
        grid-area: miniTit_one;
    }
    .two{
        grid-area: miniTit_two;
    }
    .three{
        grid-area: miniTit_three;
    }
    .padre__secundario{
        display: grid;
        grid-template-areas: 
        "img_uno miniTit_one"
        "img_dos miniTit_two"
        "img_tres miniTit_three";
        grid-template-columns: 260px;
        grid-template-rows: 260px 260px;
        justify-content: $centrado;
    }
}
@media screen and (max-width: 480px){
    .uno{
        grid-area: img_uno;
    }
    .dos{
        grid-area: img_dos;
    }
    .tres{
        grid-area: img_tres;
    }
    .one{
        grid-area: miniTit_one;
    }
    .two{
        grid-area: miniTit_two;
    }
    .three{
        grid-area: miniTit_three;
    }
    .padre__secundario{
        display: grid;
        grid-template-areas: 
        "img_uno"
        "miniTit_one"
        "img_dos"
        "miniTit_two"
        "img_tres"
        "miniTit_three";
        grid-template-columns: 260px;
        grid-template-rows: 260px;
        justify-content: $centrado;
    }
}
@keyframes animacion{
    0%{
        font-size: 50px;
    }
    50%{
        font-size: 60px;
    }
    100%{
        font-size: 50px;
    }
}




