*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cuerpo{
   /* background: linear-gradient(black, rgb(65, 59, 47), grey, white);*/
    background: linear-gradient(rgb(255, 255, 255),rgb(127, 127, 127), rgb(65, 59, 47),rgb(0, 0, 0));
}
.titulo{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    margin: 35px;
    font-family: "paraTitulos"; 
}
.lista{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
.item{
    height: 10px;
    padding: 15px;
    color: rgb(241, 248, 255);
}
}
.subTit{
    color: rgb(0, 0, 255);
    text-align: center;
    text-transform: uppercase;
    margin: 35px;
    font-family: "miFuente";
    font-size: 50px;
    animation-name: animacion;
    animation-iteration-count: initial;
    animation-duration: 5s;
}
.padre__secundario{
    display: grid;
    grid-template-columns:repeat(3, 300px);
    grid-template-rows: 250px 45px ;
    justify-content: center;
    .imagen{
        border: 4px solid rgb(0, 0, 0);
        height: 250px;
        width: 250px;;
        border-radius: 7px;
        opacity: 0.9;
    }
    .imagen:hover{
        transform: scale(1.1);
        opacity: 1;
        border-radius: 17px;
    
    } 
.miniTit{
    font-family: "sobreRopa";
    font-size: large;
    text-align:center;
    text-decoration: underline;
    color: rgb(300, 300,300);
    margin-top: 20px;
    margin-bottom: 20px;
}
.miniTit:hover{
    font-size: larger;
}
}
.semiTit{
    font-family: "otraFuente";
    font-size: x-large;
    text-decoration:underline;
    text-align: center;
    color: rgb(255, 233, 205);
}
footer {
    color: #999;
    text-transform:capitalize;
    margin-top: 30px;
    margin-bottom: 30px;
}
@font-face{
    font-family: "paraTitulos";
    src: url("../fonts/titulos.otf");
}
@font-face{
    font-family: "miFuente";
    src: url("../fonts/letra1.ttf");
}
@font-face{
    font-family: "otraFuente";
    src: url("../fonts/Fragmentcore.otf");
}
@font-face{
    font-family: "sobreRopa";
    src: url("../fonts/subrayados.ttf");
}
@font-face{
    font-family: "losItems";
    src: url("../fonts/items.otf");
}
@media screen and (max-width: 900px){
    .uno{
        grid-area: img_uno;
    }
    .dos{
        grid-area: img_dos;
    }
    .tres{
        grid-area: img_tres;
    }
    .one{
        grid-area: miniTit_one;
    }
    .two{
        grid-area: miniTit_two;
    }
    .three{
        grid-area: miniTit_three;
    }
   .padre__secundario{
    display: grid;
    grid-template-areas: 
    "img_uno miniTit_one"
    "img_dos miniTit_two"
    "img_tres miniTit_three";
    grid-template-rows: repeat(3,260px);
    grid-template-columns: repeat(2,260px);
    justify-content: center;
   }
}
@media screen and (max-width: 480px){
    .uno{
        grid-area: img_uno;
    }
    .dos{
        grid-area: img_dos;
    }
    .tres{
        grid-area: img_tres;
    }
    .one{
        grid-area: miniTit_one;
    }
    .two{
        grid-area: miniTit_two;
    }
    .three{
        grid-area: miniTit_three;
    }
   .padre__secundario{
    display: grid;
    grid-template-areas: 
    "img_uno"
    "miniTit_one"
    "img_dos" 
    "miniTit_two"
    "img_tres"
    "miniTit_three";
    grid-template-rows: 260px ;
    grid-template-columns: 260px;
    justify-content: center;
   }
}
@keyframes animacion{
    0%{
        font-size: 50px;
    }
    50%{
        font-size: 60px;
    }
    100%{
        font-size: 50px;
    }
}




